module.exports = {
  secret   : '12sdh293',
  tokenTTL : 1440, // expires in 24 hours
  database : 'mongodb://mongodb:27017/auth-service',
  facebook: {
    oauth2: {
      clientID: '<code>',
      clientSecret: '<code>',
      callbackURL : '<url>',
    }
  },
  twitter : {
    oauth : {
      consumerKey : '<code>',
      consumerSecret : '<code>',
      callbackURL : '<url>',
    }
  },
  google : {
    oauth2: {
      clientID: '<code>',
      clientSecret: '<code>',
      callbackURL : '<URL>',
    }
  }
}
